<!doctype html>
<html lang="en-us">
  <head>
      <title>Authn | edX</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="<%=htmlWebpackPlugin.options.FAVICON_URL%>" type="image/x-icon" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
